:root {
  --background: hsl(120, 63%, 75%);
  --clockFrameColor: hsl(16, 100%, 50%);
  --messageColor: hsl(16, 80%, 20%);
  --borderDotColor: hsl(0, 0%, 0%);
  --handColor: black;

  --clockBorderShadowOut: 4;
  --handThickness: 7;

  --numberBoxColor: hsla(286, 100%, 25%, 1);
  --numberBoxFontFam: "Caudex", serif;
  --headingFontFam: "Caudex", serif;

  --borderDotSide: calc(var(--clockBorder) * 0.9);
}

@media screen and (max-width: 920px), (max-height: 920px) {
  :root {
    --numberBoxFontSize: 3.3vmin;
    --numberBoxSide: 2.9rem;
    /* radius excluding the border and the padding*/
    --clockRadius: 22vmin;
    --clockRadiusMin: 150;
    --side: calc(2 * var(--clockRadius));
    --sideMin: calc(2 * var(--clockRadiusMin));
    /* additional width/height to the .clock div*/
    --clockBorder: 15;
    /* additional width/height to the .clock div*/
    --clockPadding: 36;
    --handThickness: 6;

    --clockBorderShadowOut: 3;
    --message-font-size: 4vmax;
  }
}
@media screen and (max-width: 640px), (max-height: 640px) {
  :root {
    --numberBoxFontSize: 3vmin;
    --numberBoxSide: 2.2rem;
    /* radius excluding the border and the padding*/
    --clockRadius: 15vmin;
    --clockRadiusMin: 100;
    --handThickness: 4;
    /* additional width/height to the .clock div*/
    --clockBorder: 10;
    /* additional width/height to the .clock div*/
    --clockPadding: 24;

    --clockBorderShadowOut: 2;

    --message-font-size: 4vmax;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*background: linear-gradient(-225deg, rgba(230,160,130,0.4) 30%, rgba(246,346,106,0.2) 80%), url(http://unsplash.it/1500/1000) bottom center;*/
  background-color: var(--background);
  background-image: radial-gradient(transparent, hsla(0, 0%, 0%, 0.5));
  background-size: cover;
}

.message {
  font-size: var(--message-font-size);
  font-family: var(--headingFontFam);
  color: var(--message-color);
  text-align: center;
  letter-spacing: 0.07em;
}

.clock {
  min-width: calc(var(--sideMin) * 1px);
  min-height: calc(var(--sideMin) * 1px);
  width: var(--side);
  height: var(--side);
  padding: calc(var(--clockPadding) * 1px);
  border: calc(var(--clockBorder) * 1px) solid var(--clockFrameColor);
  border-radius: 50%;
  box-shadow: 0 0 0 calc(var(--clockBorderShadowOut) * 1px)
      rgba(30, 30, 30, 0.7),
    inset 0 0 0 3px rgba(139, 139, 139, 0.5), inset 0 0 10px rgba(0, 0, 0, 1);
  margin: 10vmin auto;
  position: relative;
}

.borderDot {
  position: absolute;
  width: calc(var(--borderDotSide) * 1px);
  height: calc(var(--borderDotSide) * 1px);

  border-radius: 50%;
  background-color: var(--borderDotColor);
  opacity: 0.4;
  z-index: 1;

  /* detach the borderDot a little bit from the clock border*/
  box-sizing: border-box;
  border: calc(var(--borderDotSide) / 20 * 1px) solid var(--clockFrameColor);

  transition: all 0.03s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.numberBox {
  position: absolute;
  width: var(--numberBoxSide);
  height: var(--numberBoxSide);
  color: rgba(0, 0, 0, 0.8);
  transition: opacity 5s ease-in-out, top 0.5s, left 0.5s;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* start value, will change dynamically*/
  /*outline: 1px solid black;*/
}
.numberBox span {
  font-size: var(--numberBoxFontSize);
  font-weight: 600;
  font-family: var(--numberBoxFontFam);
  color: var(--numberBoxColor);
}

/*used in 3 instances for overlaying the 3 hands*/
.container {
  width: var(--side);
  height: var(--side);
  min-width: calc(var(--sideMin) * 1px);
  min-height: calc(var(--sideMin) * 1px);
  position: absolute;
  z-index: 10;
}

.hand {
  height: 100%;
  margin: auto;
  transition: all 0.05s;
  z-index: 10;
}

.filler {
  width: 100%;
  height: 50%;
  background-color: var(--handColor);
  border-radius: 70%;
}

/*Look at the script for seeing the scaling transforms*/

.second-hand {
  width: calc(var(--handThickness) * 1px);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.min-hand {
  width: calc(var(--handThickness) * 2 * 1px);
  transition-timing-function: ease-in-out;
}

.hour-hand {
  width: calc(var(--handThickness) * 2.5 * 1px);
}
